<style>content {grid-gap: 0;}</style>

<div id="dashboard">
	<div id="tags-wrapper" class="tw-dash top-priority">
		<div id="tags-list">
			<a class="tag btn-focus" href="/snippets/new">CREATE</a>
			<a class="tag" href="/<%=current_user.username%>/dashboard">All</a>
			<% current_user.tags.each do |tag| %>
				<a class="tag" href="/tags/<%= tag.slug(tag.name) %>"><%= tag.name %></a>
			<% end %>
		</div>
		<img id="close-button" class="close-tags hidden cursor" src="/img/close.svg">
	</div>
    <div class="snippets">
		<% @snippets.each do |snippet| %>
			<a class="snippet" href="/snippets/<%= snippet.id %>"><%= snippet.title %></a>
		<% end %>
		<span class="pad-hack invisible">padding hack</span>
    </div>
	<label class="tag-toggle tt-dash btn hidden cursor">TAGS</label>
</div>