<!DOCTYPE html>
<!--head-->
<head>
  <!--title-->
  <title>Snalgos</title>
  <!--meta-->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--stylesheets-->
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <!--fonts-->
  <script async="true" src="https://use.edgefonts.net/source-code-pro.js"></script>
  <!--load jquery-->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<!--head end-->


<!--body-->
<body>
  <!--main wrapper-->
  <div class="wrapper">
<!--------------------------------------CONTENT------------------------------------>
    <!--NAVIGATION-->
    <nav>
      <a href="/">Home</a>
      <% if logged_in? %>
        <a href="<%= "/#{current_user.username}/profile" %>">Profile</a>
        <a href="<%= "/snippets" %>">My Snippets</a>
        <a href="<%= "/logout" %>">Log Out</a>
      <% else %>
        <a href="<%= "/signup" %>">Sign Up</a>
        <a href="<%= "/login" %>">Log In</a>
      <% end %>
    </nav>
    <!--NAVIGATION END-->
    
      
    <!--VIEWS-->
    <%= yield %>
    <!--VIEWS END-->
    
    
    <!--FOOTER-->
    <footer>
    </footer>
    <!--FOOTER END-->
<!--------------------------------------------------------------------------------->
  </div>
  <!--main wrapper end-->
</body>
<!--body end-->
